
@{
    ViewData["Title"] = "Admin Panel Dashboard";
}

<div class="container container-main-large">
    <div class="card-custom">
        <h2>Admin Access</h2>
        <h4 class="mt-4">Welcome, Admin</h4>

        @if (TempData["StatusMessage"] != null)
        {
            <div class="alert alert-success mt-3" role="alert">
                @TempData["StatusMessage"]
            </div>
        }

        <div class="mt-4">
            <h5>Admin Options:</h5>
            <hr style="border-color: var(--border-color);" />
            <div class="list-group">
                <a asp-action="AddCabin" asp-controller="Admin" class="list-group-item list-group-item-action">
                    Add New Cabin
                </a>
                <a asp-action="UpdateCabin" asp-controller="Admin" class="list-group-item list-group-item-action">
                    Update Existing Cabin
                </a>
                <a href="#" class="list-group-item list-group-item-action disabled">Manage Bookings (WIP)</a>
            </div>
        </div>
    </div>
</div>